

<h1>Listing ducks</h1>

<table id="sortable" class="table" data-update_url="<%= sort_ducks_path %>">
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ducks.each do |duck| %>
      <tr class="item" data-item_id="<%= duck.id %>">
        <td><%= duck.position %></td>
        <td><%= duck.name %></td>
        <td><%= link_to 'Show', duck %></td>
        <td><%= link_to 'Edit', edit_duck_path(duck) %></td>
        <td><%= link_to 'Destroy', duck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Duck', new_duck_path %>
